/* Gerais*/

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
    max-width: 1280px;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p, li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */

header, .navbar {
    background-color: #63badc;
    width: 100%;
    top: 0;
    left: 0;
    
}

button {
    margin: 10px;
}

#nav-container {
    padding-top: 70px;
    padding-bottom: 0;
    
}

#logo {
    width: 80px;
    margin: 10px
}

.navbar-brand {
    color: #000000;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .9rem;
    color: #000000;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #e8e8e8;
}

/*Slider*/

.container-fluid {
    padding: 0;
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 100vh;
}

#mainSlider .carousel-caption {
    top: 75%;
}

#mainSlider .carousel-caption h2 {
    font-size: 50px;
}

#mainSlider .carousel-caption a {
    font-size: 15px;
    margin-bottom: 50px;

}

.main-btn {
    background-color: #4ca0b8;
    color: #353d41;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 5px 30px;
    border-radius: 100px;
    border: 3px solid transparent;
    transition: .3s;
}

.main-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: #65daf9;
    border-color: #71a3b1;
}

.carousel-indicators .active {
    background-color: #353d41;
}

/* Sobre a Empresa */

#about-area {
    background-color: #f9f9f9;
}

.main-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
}

.main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
    text-transform: uppercase;
}

.about-title {
    font-size: 25px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.resumo-title {
    text-align: center;
    padding-top: 50px;
    font-size: 19px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/* Serviços */

.service-box {
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4 {
    transition: .5s;
}

.service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4 {
    color: #65daf9;
}

/* Ddos da Empresa */

.circle-box div {
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p {
    color: #000000;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/*Botão Whats*/
.whats:hover {
    background-color: #206311;
    border-radius: 50px;
}


/*Card Avaliações */
.card {
    width: 250px;
    height: 270px;
    background: #f5f5f5;
    overflow: visible;
    box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 20px;
}
   
.card-info {
display: flex;
flex-direction: column;
align-items: center;
gap: 2em;
padding: 0 1rem;
}
   
.card-img {
--size: 100px;
width: var(--size);
height: var(--size);
border-radius: 50%;
transform: translateY(-50%);
background: #63badc;
position: relative;
transition: all .3s ease-in-out;
}
   
.card-img::before {
content: "";
border-radius: inherit;
position: absolute;
top: 50%;
left: 50%;
width: 90%;
height: 90%;
transform: translate(-50%, -50%);
border: 1rem solid #e8e8e8;
}
   
/*Text*/
.text-title {
text-transform: uppercase;
font-size: 0.75em;
color: #63badc;
letter-spacing: 0.05rem;
}

.text-body {
font-size: .9em;
text-align: center;
color: #6f6d78;
font-weight: 400;
font-style: italic;
}

/*Hover*/
.card:hover .card-img {
--size: 110px;
width: var(--size);
height: var(--size);
}

/* Footer */

#contact-area {
text-align: center;
}

.contact-box {
padding: 50px;
margin-bottom: 50px;
border-bottom: 1px solid #3ec1d5;
}

.contact-box i {
color: #444;
border: solid 1px #444;
border-radius: 50%;
width: 55px;
height: 55px;
line-height: 55px;
font-size: 24px;
margin-bottom: 20px;
}

.contact-box p {
font-size: 16px;
}

.contact-title {
font-weight: bold;
color: #3ec1d5;
}

#msg-box p {
font-size: 22px;   
}

#contact-form input[type= "text"], #contact-form input[type="email"], #contact-form textarea {
margin-bottom: 15px;
border-radius: 0;
}

#contact-form .main-btn {
width: 120px;
height: 50px;
}

/*Copy*/

#copy-area {
background-color: #f1f1f1;
}

#copy-area .container {
padding: 10px 0;
text-align: center;
}

#copy-area .container p {
margin-bottom: 0;
}

#copy-area .container a {
font-weight: bold;
color: #444;
}

#copy-area .container a:hover {
text-decoration: none;
color: #3ec1d5;
}

.img-pages {
    width: 100%;
}